body {
    background-color: black;
    font-family: "Courier New", Courier, monospace;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: rgb(139, 124, 124);
}

.container h1 {
    color: white;
}

.container p {
    color: white;
}

body::after {
    content: "";
    background-image: radial-gradient(white 2px, transparent 3px);
    background-size: 30px 30px; /* Tamaño de los puntitos */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Para que no afecte a la interacción con la página */
    z-index: -1; /* Para estar detrás de todo el contenido */
}
