body {
    background-color: black;
    font-family: "Courier New", Courier, monospace;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: white;
}

.container h1 {
    color: white;
}

.container p {
    font-size: 16px; /* Cambiar el tamaño de fuente según prefieras */
    color: white;
}



/* Estilos para el botón de Instagram */
.instagram-button {
    display: block;
    width: 120px;
    height: 40px;
    background-color: #405DE6; /* Color de fondo del botón */
    color: white; /* Color del texto */
    text-align: center;
    line-height: 40px; /* Centrar verticalmente el texto */
    text-decoration: none; /* Quitar subrayado del enlace */
    margin: 20px auto; /* Margen para centrar el botón */
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negrita */
}




body::after {
    content: "";
    background-image: radial-gradient(rgb(42, 42, 42) 2px, transparent 3px);
    background-size: 17px 17px; /* Tamaño de los puntitos */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Para que no afecte a la interacción con la página */
    z-index: -1; /* Para estar detrás de todo el contenido */
}
