/* Variables para el tema claro */
:root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --h1-color-light: #000000; /* Color de texto para h1 en tema claro */
}

/* Variables para el tema oscuro */
:root {
    --background-color-dark: #000000;
    --text-color-dark: #ffffff;
    --h1-color-dark: #ffffff; /* Color de texto para h1 en tema oscuro */
}

body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    position: relative; /* Añadido para crear el efecto de puntitos */
    font-family: "Courier New", Courier, monospace; /* Restaurar la tipografía del body */
}

[data-theme="dark"] {
    body {
        background-color: var(--background-color-dark);
        color: var(--text-color-dark);
    }
}

/* Estilos para los puntitos del fondo */
body::after {
    content: "";
    background-image: radial-gradient(rgb(216, 216, 216) 2px, transparent 3px);
    background-size: 17px 17px; /* Tamaño de los puntitos */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Para que no afecte a la interacción con la página */
    z-index: -1; /* Para estar detrás de todo el contenido */
}

[data-theme="dark"] body::after {
    background-image: radial-gradient(rgb(42, 42, 42) 2px, transparent 3px);
}

[data-theme="light"] body::after {
    background-image: radial-gradient(rgb(216, 216, 218) 2px, transparent 3px); /* Cambio a azul */
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}





.switch {
    position: absolute; /* Cambiado de relative a absolute */
    top: 30px; /* Colocado 20px desde arriba */
    right: 30px; /* Colocado 20px desde la izquierda */
    display: inline-block;
    width: 58px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    transition: .4s;
    border-radius: 34px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    padding: 2px;
}

/* Cambiando el color del switch */
.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 3px;
    background-color: #ccc; /* Cambia este color al color deseado para el switch */
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: transparent;
}

input:checked + .slider:before {
    transform: translateX(22px);
}


/* Estilos para el botón de Instagram */
.instagram-button {
    display: block;
    width: 120px;
    height: 40px;
    background-color: #405DE6; /* Color de fondo del botón */
    color: white; /* Color del texto */
    text-align: center;
    line-height: 40px; /* Centrar verticalmente el texto */
    text-decoration: none; /* Quitar subrayado del enlace */
    margin: 20px auto; /* Margen para centrar el botón */
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negrita */
}
